# (c) Copyright 2014 Hewlett-Packard Development Company, L.P.
#
#    Licensed under the Apache License, Version 2.0 (the "License");
#    you may not use this file except in compliance with the License.
#    You may obtain a copy of the License at
# 
#        http://www.apache.org/licenses/LICENSE-2.0
# 
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.


# This file defines variables used to build Maestro with required meta data to automatically start a Blueprint.
# It is read by build.sh
# It has be built from a template found in maestro/templates/infra, and saved in your own infra directory.
#
# To control version of your specific infrastructure environment, We suggest you to keep those generated infra data in an SCM directory
# while credential data (user/password/key/secret) is usually stored in your hpcloud account.
# Then you can get it from your hpcloud <GITBRANCH>.forj-13.5.g64 with hpcloud copy command.
# Ex: hpcloud copy ":MyContainer/creds/<GITBRANCH>.forj-13.5.g64" ~/.cache/forj/
#

# Please READ carefully the `maestro/build/README.md' on how bootstrapping is built to update this file accordingly.
#
#

# Build Configuration FileName convention
# =======================================
#
# This build configuration file name is built from 3 variables set by build.sh
# <APP_PATH>.<BUILD_CONFIG>.<GITBRANCH>.env
# 
# GITBRANCH is 'master' by default. or Current GIT branch if option --gitBranchCur, or any valid branch set by --gitBranch <BranchName>
# APP_PATH is set from --box-name <BoxName>
# BUILD_CONFIG is set from --build-config

# When you start your build, the server name will be set by BUILD_ID.
# This variable can be set by --build_ID option.
# If you want to ignore --build_ID, you can force it. Uncomment the following line and set your desired BUILD_ID, to force it.
# BUILD_ID=MyBuild



# Using --build-config <Config>(with or without --build-conf-dir) will load information about:
# - BUILD_ID                : Optionally force to use a build ID.
PREFIX=maestro.
if [ "${BUILD_ID}" = "" ]
then
   BUILD_ID=bld
fi
if [ "$(echo "$BUILD_ID" | grep maestro)" = "" ]
then
    BUILD_ID=$PREFIX$BUILD_ID
fi

# - APPPATH                 : Path to bootstrap files to use.
# 


################################################
# HPCloud Services settings section
################################################

# build.sh use hpcloud cli to communicate with HPCloud. 

# Defines which HPCloud account to use.

# if FORJ_HPC account name doesn't exist, build.sh will create a copy of 'hp' account (hpcloud account hp)
# Then all 'hp' account settings used to access services are copied and used as default.
# If you need to change and ensure some settings, different than default, uncomment any required HPC* variables.
FORJ_HPC=$GITBRANCH-maestro-build-13.05
# If this account doesn't exist, build.sh will create it from hp account.


# HPCloud services settings used to create Maestro:
# Uncomment to ensure setting you need.
# - FORJ_HPC_TENANTID       : HPCloud Project tenant ID used.
# - FORJ_HPC_COMPUTE        : HPCloud compute service to use.
# - FORJ_HPC_NETWORKING     : HPCloud networking service to use.
# - FORJ_HPC_CDN            : HPCloud CDN service to use.
# - FORJ_HPC_OBJECT_STORAGE : HPCloud Object storage service to use.
# - FORJ_HPC_BLOCK_STORAGE  : HPCloud Block storage service to use.
# - FORJ_HPC_DNS            : HPCloud Domain name service to use.
# - FORJ_HPC_LOAD_BALANCER  : HPCloud Load balancer service to use.
# - FORJ_HPC_MONITORING     : HPCloud Monitoring service to use.
# - FORJ_HPC_DB             : HPCloud Mysql service to use.
# - FORJ_HPC_REPORTING      : HPCloud Reporting service to use.


################################################
# FORJ settings to build MAESTRO on HPCloud.
################################################

# Minimal required values setting section:
# ----------------------------------------
# Following list of Variables have to be set at minimum to boot a Maestro + Blueprint
# They are passed to Maestro thanks to metadata.
# Replace {...} by the value you want to have. String after : is a proposal.

# SET_COMPUTE: HPCloud compute service to use to boot blueprint boxes.
# SET_COMPUTE: Ex: region-a.geo-1
SET_COMPUTE="{SET_COMPUTE!}"

# SET_TENANT_NAME: HPCloud Project tenant name used to create blueprint boxes
SET_TENANT_NAME="{SET_TENANT_NAME!}"

# SET_DNS_TENANTID: HPCloud Project ID to use to create DNS entries for each boxes.
SET_DNS_TENANTID="{SET_DNS_TENANTID!}"

# SET_DNS_ZONE: HPCloud Domain name service to use for each boxes DNS entries.
# SET_DNS_ZONE: Ex: region-a.geo-1
SET_DNS_ZONE="{SET_DNS_ZONE!}"

# SET_DOMAIN: Domain used for DNS. Each server will be attached to a public IP. An 'A' record in the DNS service will need to be added to your HPCloud DOMAIN.
# SET_DOMAIN: Ex: dev.forj.io
SET_DOMAIN="{SET_DOMAIN!}"

# ----------------------------------------

# Boot data needed:
# Required! Uncomment it and update it. This is your HPCloud public key used. Build.sh will add this key in the hpcloud boot call.
# FORJ_HPC_NOVA_KEYPUB=~/.hpcloud/keypairs/nova.pub

# forj cli defines the following variables
if [ "$FORJ_HPC_NET" = "" ]
then
   echo "build env error: forj cli did not set FORJ_HPC_NET. Cannot go on. check forj setup."
   exit 1
fi
Info "forj-cli - FORJ_HPC_NET = $FORJ_HPC_NET"

if [ "$FORJ_KEYPAIR" = "" ]
then
   echo "build env error: forj cli did not set FORJ_KEYPAIR. Cannot go on. check forj setup."
fi
Info "forj-cli - FORJ_KEYPAIR = $FORJ_KEYPAIR"

if [ "$FORJ_SECURITY_GROUP" = "" ]
then
   echo "build env error: forj cli did not set FORJ_SECURITY_GROUP. Cannot go on. check forj setup."
   exit 1
fi
Info "forj-cli - FORJ_SECURITY_GROUP = $FORJ_SECURITY_GROUP"

# Internal Forj public key used.
if [ "$FORJ_HPC_NOVA_KEYPUB" = "" ]
then
   echo "build env error: forj cli did not set FORJ_HPC_NOVA_KEYPUB. Cannot go on. check forj setup."
   exit 1
fi
Info "forj-cli - FORJ_HPC_NOVA_KEYPUB = $FORJ_HPC_NOVA_KEYPUB"

if [ "$FORJ_BASE_IMG" = "" ]
then
   echo "build env error: forj cli did not set FORJ_BASE_IMG. Cannot go on. check forj setup."
   exit 1
fi
Info "forj-cli - FORJ_BASE_IMG = $FORJ_BASE_IMG"


# - FORJ_FLAVOR                    : HPCloud flavor ID to use for boot.
# Flavors list
#  +-----+------------------+--------+------+
#  | id  | name             | ram    | disk |
#  +-----+------------------+--------+------+
#  | 100 | standard.xsmall  | 1024   | 10   |
#  | 101 | standard.small   | 2048   | 30   |
#  | 102 | standard.medium  | 4096   | 30   |
#  | 103 | standard.large   | 8192   | 30   |
#  +-----+------------------+--------+------+
FORJ_FLAVOR=102

# - BOOTSTRAP_DIR                  : Superseed default <BoxName> bootscripts. See Box bootstrap section for details.
# Infra repository specific bootstrap
BOOTSTRAP_DIR=$(cd $CONFIG_PATH/cloud-init ; pwd)                           


################################################
# Meta data settings to transmit to MAESTRO.
################################################

# Setting default META. If one of this value was set from the command line option, it will replace this one.
if [ "${META[cdksite]}" = "" ]
then # Default
   META[cdksite]="cdksite=${BUILD_ID}"
fi

if [ "${META[cdkdomain]}" = "" ]
then
   META[cdkdomain]="cdkdomain=$SET_DOMAIN"
fi
if [ "${META[eroip]}" = "" ]
then
   META[eroip]="eroip=127.0.0.1"
fi
if [ "${META[erosite]}" = "" ]
then
   META[erosite]="erosite=${BUILD_ID}"
fi
if [ "${META[erodomain]}" = "" ]
then
   META[erodomain]="erodomain=$SET_DOMAIN"
fi

if [ "${META[gitbranch]}" = "" ]
then
   META[gitbranch]="gitbranch=$GITBRANCH"
fi

# Next meta-data are used to automatically provision a blueprint requested by FORJ.
# -------------------------------------

# You can uncomment the following to add a default blueprint to instanciate.
# The other way is to add --meta blueprint=<BlueprintName>
#if [ "${META[blueprint]}" = "" ]
#then
#   META[blueprint]="blueprint="
#fi

if [ "${META[security_groups]}" = "" ]
then
   META[security_groups]="security_groups=default"
fi

# Metadata for DNS
if [ "${META[dns_zone]}" = "" ]
then
   META[dns_zone]="dns_zone=${SET_DNS_ZONE}"
fi
if [ "${META[dns_tenantid]}" = "" ]
then
   META[dns_tenantid]="dns_tenantid=${SET_DNS_TENANTID}"
fi

# Metadata for Compute
if [ "${META[tenant_name]}" = "" ]
then
   META[tenant_name]="tenant_name=${SET_TENANT_NAME}"
fi

# Infra specific meta-data

if [ "${META[network_name]}" = "" ]
then
   META[network_name]="network_name=$FORJ_HPC_NET" # Network required for boxes to boot.
fi

if [ "${META[bootstrap]}" = "" ]
then # On this configuration set from infra, we use the infra bootstrap to complete the maestro one.
   META[bootstrap]="bootstrap=git/infra/bootstrap/maestro"
fi

if [ "${META[hpcloud_os_region]}" = "" ]
then # setup hpcloud_os_region
   META[hpcloud_os_region]="hpcloud_os_region=${SET_COMPUTE}"
fi

if [ "${META[PUPPET_DEBUG]}" = "" ]
then
   # By default, Maestro puppet code are displayed with --debug and --verbose. To remove them, change Value from True to False.
   META[PUPPET_DEBUG]="PUPPET_DEBUG=True"
fi

if [ "${META[image_name]}" = "" ]
then
   # Use Maestro Image name for any blueprint boxes.
   META[image_name]="image_name=${FORJ_BASE_IMG}"
fi

if [ "${META[key_name]}" = "" ]
then
   # Use Maestro Image name for any blueprint boxes.
   META[key_name]="key_name=${FORJ_KEYPAIR}"
fi


if [ "${META[hpcloud_priv]}" = "" ]
then # On this configuration set from infra, we use the infra bootstrap to complete the maestro one.
   G64FILE=~/.cache/forj/${GITBRANCH}.forj-13.5.g64
   if [ ! -f $G64FILE ]
   then
      echo "Missing hpcloud_priv meta or file '$G64FILE' not found. You need one or the other."
      exit 1
   fi
   echo "Reading Cloud credentials from your local encode file '$G64FILE'"
   META[hpcloud_priv]="hpcloud_priv=$(cat $G64FILE)"
fi
META[hpcloud_priv]="$(echo "${META[hpcloud_priv]}" | sed 's/[=]*$//g')"

# -------------------------------------

# This configuration will not create any image, but a box.
Info "This configuration cannot create an image."
DEBUG=True

# vim: syntax=sh
