<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%=app%> logs, week: <%=week%></title>
</head>
<body>
  <p><%-logs.replace(/\n/g,'<br>')%><p>
</body>
</html>
