<div class="row">
  <div id="tools" class="col-md-5">
    <ul style="list-style: none;">
      <li>
        <div>
          <div style="float: left; padding: 5px;">
						<img src="../tools_images/gerrit42.png">
					</div>
          <blockquote  style="font-size: 16px; padding: 5px; border-left: 0;">
            <p style="margin-bottom: 0px;">Gerrit</p>
            <footer>Code Review</footer>
          </blockquote>
        </div>
      </li>
      <li>
        <div>
          <div style="float: left; padding: 5px;">
						<img src="../tools_images/jenkins42.png">
					</div>
          <blockquote  style="font-size: 16px; padding: 5px; border-left: 0;">
            <p style="margin-bottom: 0px;">Jenkins</p>
            <footer>Continuous Integration</footer>
          </blockquote>
        </div>
      </li>
      <li>
        <div>
          <div style="float: left; width: 42px; height: 42px;">
						<div style="width: 100%; height: 100%; background-color: #F1F1F1; color: #6b6b6b; border-radius: 42px; border: 1px solid #6b6b6b; text-align: center;">
							<span style="line-height: 42px; font-size: 30px;">Z</span>
						</div>
					</div>
          <blockquote  style="font-size: 16px; padding: 5px; border-left: 0;">
            <p style="margin-bottom: 0px;">Zuul</p>
            <footer>Pipeline oriented project gating</footer>
          </blockquote>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-2"></div>
  <div id="utils" class="col-md-5">
    <ul>
      <li>
        <div>
          
        </div>
      </li>
      <li>
        <div>
          
        </div>
      </li>
      <li>
        <div>
          
        </div>
      </li>
    </ul>
  </div>
</div>