<div>
  <div class="col-md-12 category" style="padding: 8px 15px;margin-bottom: 20px;background-color: #f5f5f5;border-radius: 4px;"><a>5 Projects</a></div>
  <div style="padding: 50px 20px 10px 10px;">
    <div style="height: 85px; width: 100%; border: 1px solid #CCC; margin-bottom: 10px;">
      
    </div>
    <div style="height: 85px; width: 100%; border: 1px solid #CCC; margin-bottom: 10px;">
      <span>Project 1</span>
    </div>
    <div style="height: 85px; width: 100%; border: 1px solid #CCC; margin-bottom: 10px;">
      <span>Project 2</span>
    </div>
    <div style="height: 85px; width: 100%; border: 1px solid #CCC; margin-bottom: 10px;">
      <span>Project 3</span>
    </div>
    <div style="height: 85px; width: 100%; border: 1px solid #CCC; margin-bottom: 10px;">
      <span>Project 4</span>
    </div>
    <div style="height: 85px; width: 100%; border: 1px solid #CCC; margin-bottom: 10px;">
      <span>Project 5</span>
    </div>
  </div>
</div>