<div>
  <div>
    <div>SSH</div>
    <div>LOG</div>
  </div>
  <div>
    <div>CPU ussage has reached %</div>
    <div>
      <div>
        CPU
      </div>
      <div>
        Memory
      </div>
      <div>
        Disk
      </div>
    </div>
  </div>
  <div>
    <div>No Backup</div>
    <div>
      <a href="#">Tools</a>
      <a href="#">Backups logs</a>
    </div>
  </div>
  <div>
    <div>
      <span>Registered users</span><span>00</span>
    </div>
    <div>
      <span>Commits in last 24hrs</span><span>00</span>
    </div>
    <div>
      <span>Gates passed</span><span>00</span>
    </div>
  </div>
</div>