<div style="border: 1px solid #CCC;padding: 10px; width: 540px;">
  <div>
    <div style="padding-bottom: 10px;">
      <div style="width: 60px;height: 70px;border: 1px solid #CCC;float: left;margin-right: 10px; position:relative; cursor: pointer;">
        <img src="../images/ssh.png" alt="SSH" title="SSH" style="position: absolute;top: 0;bottom: 0;right: 0;left: 0;margin: auto;" />
      </div>
      <div style="width: 60px;height: 70px;border: 1px solid #CCC;float: left; position:relative;  cursor: pointer;">
        <img src="../images/log.png" alt="Logs" title="Logs" style="position: absolute;top: 0;bottom: 0;right: 0;left: 0;margin: auto;" />
      </div>
      <div style="clear:both;"></div>
    </div>
  </div>
  <div>
    <div style="line-height: 27px;"><div style="background-color: #E16138;float: left;width: 20px;height: 20px;border-radius: 5px 0px;margin-top: 7px;margin-right: 5px;"></div><span style="vertical-align: sub;">CPU ussage has reached 90%</span></div>
    <div>
      <div style="float:left;">
        <canvas id="cpu" width="120" height="120">
      </div>
      <div style="float:left;">
        <canvas id="mem" width="120" height="120">
      </div>
      <div style="float:left;">
        <canvas id="disk" width="120" height="120">
      </div>
      <div style="clear:both;"></div>
      <div style="padding-left: 255px;"><a>Monitoring Page</a></div>
    </div>
  </div>
  <div>
    <div style="line-height: 27px;"><div style="background-color: #E16138;float: left;width: 20px;height: 20px;border-radius: 5px 0px;margin-top: 7px;margin-right: 5px;"></div><span style="vertical-align: sub;">No Backup</span></div>
    <div>
      <a href="#" style="padding: 5px 30px 5px 30px;">Tool Backup</a>
      <a href="#" style="padding: 5px 30px 5px 30px;">Backup Logs</a>
    </div>
  </div>
  <div>
  <table class="table table-hover">
    <thead>
      <th>
        Kit Stats
      </th>
      <th>
        Values
      </th>
    </thead>
    <tbody>
      <tr>
        <td>Registered users</td>
        <td>34</td>
      </tr>
      <tr>
        <td>Commits in last 24hrs</td>
        <td>11</td>
      </tr>
      <tr>
        <td>Gates passed</td>
        <td>4</td>
      </tr>
    </tbody>
  </table>
</div>
<script>
  $(document).ready(function(){
    progress('cpu', 90);
    progress('mem', 65);
    progress('disk', 30);
  });
</script>