<span class="og-close"></span>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row" style="padding-left: 10px;position: relative; z-index: 2;">
      <h4 class="service-name"><%=service%> - Service Status</h4>
    </div>
    <div class="row" style="padding-left: 10px;">
      <div class="col-md-6" style="padding-top: 10px;">
        <div class="row" style="margin-bottom: 10px;">
          <span class="error-icon" style="height: 34px;width: 34px;float: left;margin-right: 10px;"></span>
          <h5><strong>Workload</strong> - CPU usage has reached 90%</h5>
        </div>
        <div class="row" style="margin-bottom: 10px;">
          <a href="#">Monitoring Page</a>
        </div>
        <div class="row">
          <div style="display: inline-block;margin-right: 5px;">
            <span style="display: block;">CPU</span>
            <canvas id="service_cpu" data-current="90" data-bg-color="#415b6c" data-font-color="#FFFFFF" width="75" height="75"></canvas>
          </div>
          <div style="display: inline-block;margin-right: 5px;">
            <span style="display: block;">Memory</span>
            <canvas id="service_mem" data-current="65" data-bg-color="#415b6c" data-font-color="#FFFFFF" width="75" height="75"></canvas>
          </div>
          <div style="display: inline-block;margin-right: 5px;">
            <span style="display: block;">Disk</span>
            <canvas id="service_disk" data-current="45" data-bg-color="#415b6c" data-font-color="#FFFFFF" width="75" height="75"></canvas>
          </div>
        </div>
        <div class="row">
          <h5 class="service-details">Details</h5>
          <div style="width: 230px;"><span>Registered users</span><span style="float: right;font-weight: bold;">34</span></div>
          <div style="width: 230px;"><span>Commits in last 24hrs</span><span style="float: right;font-weight: bold;">11</span></div>
          <div style="width: 230px;"><span>Gates passed</span><span style="float: right;font-weight: bold;">4</span></div>
        </div>
      </div>
      <div class="col-md-6" style="padding-top: 10px;">
        <div class="row" style="margin-bottom: 10px;">
          <span class="error-icon" style="height: 34px;width: 34px;float: left;margin-right: 10px;"></span>
          <h5><strong>Backup</strong> - Backup failed!</h5>
        </div>
        <div class="row" style="margin-bottom: 10px;">
          <div style="float:left;padding-right: 5px;"><a href="#">Backup Now</a></div>
          <div style="float:left;border-left: 1px solid #FFFFFF;padding-right: 5px; padding-left: 5px;"><a href="#">Backup Sets</a></div>
          <div style="float:left;border-left: 1px solid #FFFFFF;padding-right: 5px; padding-left: 5px;"><a href="#">Backup Restore</a></div>
          <div style="float:left;border-left: 1px solid #FFFFFF;padding-right: 5px; padding-left: 5px;"><a href="#">Download Backup Log</a></div>
        </div>
        <div class="row">
          <div>
            <span style="padding-right: 10px;">Last Backup Run</span><span>2014/05/01 - 9:23 AM</span>
          </div>
          <div>
            <span style="padding-right: 10px;">Log Message</span><span>Gerrit backup finished succesfully</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
<script>
  $(document).ready(function(){
    progress('service_cpu', 90, 'new');
    progress('service_mem', 65, 'new');
    progress('service_disk', 45, 'new');
  });
</script>