# remove node_modules .bin files
.bin/
fixtures/
*.pyc
Gemfile.lock
.vagrant
vagrant/orchestrator/bundles
vagrant/CDK-gerrit/CDK_Deploy/vagrant.pem
vagrant/CDK-gerrit/CDK_Deploy/vagrant_az2.pem
cookbooks
keys
vagrant/orchestrator/workspace
vagrant/wiki/ca
index*.old
newcerts
serial.old
vagrant/orchestrator/cacerts/ca2013/*.crt
vagrant/orchestrator/cacerts/ca2013/*.csr
vagrant/orchestrator/cacerts/ca2013/*.key
vagrant/orchestrator/cacerts/ca2013/certs/*.crt
vagrant/orchestrator/cacerts/ca2013/certs/*.csr
vagrant/orchestrator/cacerts/ca2013/certs/*.key
vagrant/orchestrator/cacerts/ca2013/newcerts/*
vagrant/review/ca/ca2013/certs/*.crt
vagrant/review/ca/ca2013/certs/*.csr
vagrant/review/ca/ca2013/certs/*.key
.idea
.settings
.build
.directory
*.kdev4
*.orig
bootstrap/devstack/.build/ds-boothook.sh
*.iml
*.swp
########################
# misc / editors
########################
*~
*#
.DS_STORE
.netbeans
nbproject
.idea
*.iml
