<div class="col-md-10 category" style="padding: 8px 15px;margin-bottom: 20px;background-color: #f5f5f5;border-radius: 4px;"><a>5 Users</a></div>
  <div class="col-md-10" style="position:relative;">
    <div class="row">
      <div class="col-md-5" id="overlay" style="width: 50%;height: 100%;position: absolute;right: 92px;z-index: 101;background-color: white;border: 1px solid #7E807F;">
        <div class="row" style="padding-top: 90px; text-align: center;">
          <div>
            <input type="text" placeholder="Enter email address" style="padding-left: 5px;"/>
          </div>
        </div>
        <div class="row" style="text-align: center; padding-top: 20px;">
          <div class="col-md-12">
            <span style="padding: 0px 20px 0px 20px; color: #7E807F;">Setting user privilages will be available after completing user  creation.</span>
          </div>
        </div>
        <div style="padding-top: 30px; text-align: center;">
          <button type="button" class="btn btn-primary">Create</button>
          <button type="button" class="btn btn-default">Cancel</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5" style="height: 85px;width: 40.7%;border: 1px solid #7E807F;border-right: 0;margin-bottom: 10px;position: relative;z-index: 102;background-color: white;-webkit-box-shadow: 0 5px 2px -3px #7E807F;-moz-box-shadow: 0 5px 2px -3px #CCC;box-shadow: 0 5px 2px -3px #7E807F;"></div>
    </div>
    <div class="row">
      <div class="col-md-5" style="height: 85px; width: 40.7%; border: 1px solid #CCC; margin-bottom: 10px; position:relative; z-index: 99:">
        <img src="../images/user.png"/>
        <span style="line-height: 85px;">developer1@forj.io</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5" style="height: 85px; width: 40.7%; border: 1px solid #CCC; margin-bottom: 10px; position:relative; z-index: 98:">
        <img src="../images/user.png"/>
        <span style="line-height: 85px;">developer2@hp.com</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5" style="height: 85px; width: 40.7%; border: 1px solid #CCC; margin-bottom: 10px; position:relative; z-index: 97:">
        <img src="../images/user.png"/>
        <span style="line-height: 85px;">developer3@gmail.com</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5" style="height: 85px; width: 40.7%; border: 1px solid #CCC; margin-bottom: 10px; position:relative; z-index: 96:">
        <img src="../images/user.png"/>
        <span style="line-height: 85px;">bambamx@hp.com</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5" style="height: 85px; width: 40.7%; border: 1px solid #CCC; margin-bottom: 10px; position:relative; z-index: 95:">
        <img src="../images/user.png"/>
        <span style="line-height: 85px;">rodrigo@hp.com</span>
      </div>
    </div>
  </div>