<% if(req.session.is_admin){ %>
<div class="col-md-12" style="height: 100%;position: relative;padding-top: 40px">
  <span class="og-close"></span>
  <div class="row" style="padding-left: 40px;">
    <input id="project_name" type="text" placeholder="Enter Project Name" style="outline: 0;border: 0;color: #797979;border-bottom: 2px solid #797979;font-size: 20px;padding: 5px 5px 3px 0px;background-color: inherit;font-family: 'Open Sans Regular', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !important;"/>
  </div>
  <div id="div_result" class="row" style="padding-left: 40px;padding-top: 5px;display: none;font-family: 'Open Sans Semibold', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !important;">
    <p id="project_result">Creating New Project...</p>
  </div>
  <div class="row" style="padding-left: 40px;padding-top: 20px;">
    <div id="create_project" style="padding: 7px 10px 7px 10px;background-color: #1d4e70;font-size: 14px;display: inline-block; font-family: 'Open Sans Semibold', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !important;">
      <a href="#" style="color: #FFFFFF; text-decoration: none;">Create Project</a>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $('#create_project').on('click', doPost());
  });
  function doPost(){
    $('#create_project').on('click',function(){
      $('#div_result').fadeIn(200);
      $('#create_project').off();
      $('#create_project').css('background-color', '#797979');
      socket.post('/project/create',{
        project_name: $('#project_name').val()
      },function(msg){
        if(msg==true){
          $('#div_result').fadeOut(500,function(){
            $('#project_result').css('color', '#47CC3A');
            $('#project_result').text('Project request created, please review the change request on zuul status page, and approve the project creation on gerrit (Gerrit/All/Open)');
            $('#project_result').append('<a href="<%=gerrit_url%>/#/q/status:open,n,z" target="_blank">here.</a>');
          }).fadeIn(500);
          $('#create_project').on(doPost);
          $('#create_project').css('background-color', '#1d4e70');
        }else{
          $('#div_result').fadeIn(500,function(){
            $('#project_result').css('color', '#D6332C');
            $('#project_result').text('Project creation failed.');
          }).fadeIn(500);
          $('#create_project').on(doPost);
          $('#create_project').css('background-color', '#1d4e70');
        }
      });
    });
  }
</script>
<% } %>