<% if(req.session.is_admin){ %>
<div class="col-md-12" style="height: 100%;position: relative;padding-top: 40px">
  <span class="og-close"></span>
  <div class="row" style="padding-left: 40px;">
    <input id="project_name" type="text" placeholder="Project Name" style="outline: 0;border: 0;color: #797979;border-bottom: 2px solid #797979;font-size: 20px;padding: 5px 5px 3px 0px;background-color: inherit;font-family: 'Open Sans Regular', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !important;"/>
  </div>
  <div id="div_result" class="row" style="padding-left: 40px;padding-top: 5px;display: none;font-family: 'Open Sans Semibold', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !important;">
    <span id="project_result">Creating New Project...</span>
  </div>
  <div class="row" style="padding-left: 40px;padding-top: 20px;">
    <div id="create_project" style="padding: 7px 10px 7px 10px;background-color: #1d4e70;font-size: 14px;display: inline-block; font-family: 'Open Sans Semibold', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !important;">
      <a href="#" style="color: #FFFFFF; text-decoration: none;">Create Project</a>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $('#create_project').click(function(){
      $('#div_result').fadeIn(200);
      $.ajax({
        type: "POST",
        url: "/project/create",
        data: { project_name: $('#project_name').val() }
      }).done(function(msg) {
        if(msg==true){
          $('#div_result').fadeOut(500,function(){
            $('#project_result').css('color', '#47CC3A');
            $('#project_result').text('Project created, please wait 10 min. and visit Gerrit.');
          }).fadeIn(500);
        }else{
          $('#div_result').fadeIn(500,function(){
            $('#project_result').css('color', '#D6332C');
            $('#project_result').text('Project creation failed.');
          }).fadeIn(500);
        }
      });
    });
  });
</script>
<% } %>