<form name="input" action="/shell/run" method="get">
Username: <input type="text" name="user">
<input type="submit" value="Submit">
</form>
<br>
<%= list %>
<br>
<%= list.length %>
<br>
<% for (var i=0;i<list.length;i++ )  %>
<% {  %>
<%= list[m] %> <br>
<br>
<% }  %>
<%   %>
