<section class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" id="login-div" style="margin-top: 70px; height: 700px; position: relative;border: 1px solid #D8D8D8;-webkit-box-shadow: 0 8px 6px -6px #D8D8D8;-moz-box-shadow: 0 8px 6px -6px #D8D8D8;box-sshadow: 0 8px 6px -6px #D8D8D8;">
      <img src="../images/forj.gif" style="position: absolute;margin: auto;top: 100px;right: 0;left: 0;"/>
      <div style="position: absolute;margin: 0 auto;top: 265px;left: 0;right: 0;text-align: center;color: #7E807F;">
        <p style="padding: 0px 30px 0px 30px;">
          Welcome to FORJ. <b>You are the first user to sign up</b> to this forge. That makes you a <b>very special user with special administration powers</b>.
        </p>
      </div>
      <div style="position: absolute;margin: auto;top: 360px;left: 0;right: 0;text-align: center;">
        <a href="#" style="color: #575757;font-weight: bold;font-size: 18px;">Enjoy Forj</a>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</section>