<section class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" id="login-div" style="margin-top: 70px; height: 700px; position: relative;border: 1px solid #D8D8D8;-webkit-box-shadow: 0 8px 6px -6px #D8D8D8;-moz-box-shadow: 0 8px 6px -6px #D8D8D8;box-sshadow: 0 8px 6px -6px #D8D8D8;">
      <img src="../images/forj.gif" style="position: absolute;margin: auto;top: 0;right: 0;left: 0;bottom: 0;"/>
      <div style="color: white;position: absolute;bottom: 0;left: 0;padding: 0px 0px 10px 15px;">
        <a href="#" style="color: #575757; text-decoration: none; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;">New ? Sign Up</a>
      </div>
      <div style="position: absolute;bottom: 0;right: 0;padding: 0px 15px 10px 0px;">
        <a href="#" style="color: #575757; text-decoration: none; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;">Sign In</a>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</section>