<div class="row">
    <div class="col-md-8" style="background-color: #123146;height: 245px;min-width: 800px;color: #FFFFFF;margin-top: -100px;position: absolute;top: 50%;">

      <div class="row" style="padding-left: 380px;font-family: 'Open Sans', sans-serif;">
        <h3 style="padding-top: 25px;">Thank you for joining FORJ</h3>
        <div class="row" style="margin: 0;padding-right: 300px;">
          <p style="font-weight: 100;padding-top: 20px;">An Administrator will approve your entry to the system and you will be able to login to this FORJ.</p>
        </div>
        <div class="row" style="margin: 0;padding-top: 20px;">
          <a class="button-sign-up" href="../home/index">Go Home</a>
        </div>
      </div>

    </div>
  </div>