  <div class="row">
    <div class="col-md-8" style="background-color: #123146;height: 245px;min-width: 800px;color: #FFFFFF;margin-top: -100px;position: absolute;top: 50%;">
      <div class="row" style="padding-left: 380px;">
        <h3>Sign In</h3>
      </div>
      <div class="row" style="padding-left: 380px;">
        <p style="color: #babfc3;">Sign in with OpenID.</p>
      </div>
      <img src="/images/google_logo.png" title="Google OpenID" alt="Google OpenID" style="padding: 10px 0px 20px 366px;"/>
      <div class="row" style="padding: 10px;padding-left: 380px;">
        <a href="../auth/auth" style="padding: 10px;background-color: #1d4e70;color: white;font-size: 16px;text-decoration: none;">Sign In</a>
      </div>
    </div>
  </div>