<section class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" id="login-div" style="margin-top: 70px; height: 700px; position: relative;">
      <img src="../images/forj_119.png" style="position: absolute;margin: auto;top: 0;bottom: 0;right: 0;left: 0;"/>
      <div style="color: white;font-weight: bold;font-size: 20px;position: absolute;bottom: 0;left: 0;padding: 0px 0px 10px 15px;">
        <a href="#" style="color: white; text-decoration: none;">New ? Sign Up</a>
      </div>
      <div style="font-weight: bold;font-size: 20px;position: absolute;bottom: 0;right: 0;padding: 0px 15px 10px 0px;">
        <a href="#" style="color: white; text-decoration: none;">Sign In</a>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</section>
<style>
  #login-div{
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #1e5799 0%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#1e5799), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #1e5799 0%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #1e5799 0%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #1e5799 0%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(45deg,  #1e5799 0%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
</style>