  <div class="row">
    <div class="col-md-8" style="background-color: #123146;height: 245px;min-width: 800px;color: #FFFFFF;margin-top: -100px;position: absolute;top: 50%;">

      <div class="row" style="padding-left: 380px;font-family: 'Open Sans', sans-serif;">
        <h3 style="display: inline-block; width: 120px;">Sign Up</h3><h3 style="display: inline-block;font-size: 19px; color: #E96B56; visible:none;" id="indicator"></h3>
      </div>
      
      <div class="row" style="padding-left: 380px;">
        <form id="sign-up-form">
          <div class="auth-form">
            <label>Email</label>
            <input type="email" id="email" name="email" placeholder="my_email@myemail.com" required>
          </div>
          <div class="auth-form">
            <label>Full Name</label>
            <input type="text" id="full_name" placeholder="your name" required>
          </div>
          <div class="auth-form">
            <label>Password</label>
            <input type="password" id="password" placeholder="password" required>
          </div>
          <div class="auth-form">
            <label>Repeat Password</label>
            <input type="password" id="rpassword" name="password" placeholder="confirm" required>
          </div>
          <div class="auth-form" style="padding-top: 12px;padding-left: 125px; width: 305px;">
            <a class="button-sign-up" id="sign-up" style="margin-right: 45px;">Sign Up</a>
            <a class="button-sign-up" href="../home/index">Cancel</a>
          </div>
        </form>
      </div>
      

    </div>
  </div>
  <script>
    $(window).ready(function(){
      
      
      $('#sign-up-form').validate({
        rules: {
          email :{
            required: true,
            email: true
          },
          full_name: {
            required: true,
            minlength: 3
          },
          password: {
            required: true,
            minlength: 12
          },
          rpassword: {
            required: true,
            minlength: 12,
            equalTo: '#password'
          }
        },
        messages: {
            password: {
                required: "What is your password?",
                minlength: "Your password must contain more than 12 characters"
            },
            rpassword: {
                required: "You must confirm your password",
                minlength: "Your password must contain more than 12 characters",
                equalTo: "Your Passwords Must Match" // custom message for mismatched passwords
            }
        }
      })
      
      $('#sign-up').click(function(){
        
        
        
        $('#indicator').fadeOut(300);
        
        var valid = $('#sign-up-form').valid();
        var valid_pss = false;
        var password = $('#password').val();
        var rpassword = $('#rpassword').val();
        
        if(password != rpassword){
          $('#indicator').fadeOut(300, function(){
            $(this).text("Password does not match");
          }).fadeIn(500);
        }else{
          valid_pss = true
        }
        
        if(valid && valid_pss){

          $.ajax({
            type: 'POST',
            accept: 'json',
            url: '/users/sign_up_user',
            data: { mail: $('#email').val(), password: password, full_name: $('#full_name').val() },
            success: function(result, textStatus, xhr){
              if(result && xhr.status == 200){
                window.location.href = '../auth/pending_approval';
              }
            },
            statusCode: {
              304: function(){
                $('#indicator').fadeOut(300, function(){
                  $(this).text('Email already in use');
                }).fadeIn(500);
              },
              500: function(){
                $('#indicator').fadeOut(300, function(){
                  $(this).text("We couldn't sign you up");
                }).fadeIn(500);
              }
            }
          });
            
        }
      })
    })
  </script>