  <div class="row">
    <div class="col-md-8" style="background-color: #123146;height: 245px;min-width: 800px;color: #FFFFFF;margin-top: -100px;position: absolute;top: 50%;">
      <div class="row" style="padding-left: 380px;">
        <h3>Sign In</h3>
      </div>
      <div class="row" style="padding-left: 380px;">
        <p style="color: #babfc3;">Sign in with OpenID.</p>
      </div>
      <img src="/images/launchpad.png" title="Launchpad OpenID" alt="Launchpad OpenID" style="padding: 10px 0px 20px 366px;"/>
      <div class="row" style="padding: 10px;padding-left: 380px;">
        <a href="../auth/authenticate?module=<%=default_auth%>" class="sign-in" style="font-size: 15px !important; position: inherit !important;">Sign In</a>
        <a href="../home/index" class="sign-in" style="font-size: 15px !important; position: inherit !important;">Cancel</a>
      </div>
    </div>
  </div>