<div class="row" style="padding-top: 30px;">
  <div class="col-md-2">
    
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body" style="font-size: 12px; padding: 0px 15px 15px 15px;">
        <div class="row">
          <div id="benefits" class="col-md-6">
            <div>
              <div>
                <h4 class="title">Registration Benefits</h4>
              </div>
              <div class="benefits">
                <p>
                  <strong style="color:#3071a9;">Ownership:</strong> If you register we can <b>associate</b> the development kit to you and all the nodes that compose it.
                </p>
                <p>
                  <strong style="color:#3071a9;">Support & Help:</strong> We can <b>contact you</b> or you can <b>contact us</b> if you have any issue.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
          <% if(error_message !== null){ %>
            <div style="padding-top: 50px;text-align: center;">
              <%=error_message%>
            </div>
          <% }else{ %>
            <% if(registered !== 0){ %>
              <div class="div-register" style="display: block; background-color: rgb(125, 192, 104); color: white; height: 127px; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;">
                <div>
                  <h4 id="div-register-title" class="form-title" style="text-align: center; line-height: 127px;">Registered</h4>
                </div>
              </div>
            <% }else{ %>
              <div class="div-register">
                <div>
                  <h4 id="div-register-title" class="form-title">Register</h4>
                </div>
                <div id="div-register-name" class="form-group">
                  <input type="email" class="form-control" style="padding: 5px;height: 25px;font-size: 12px;" id="name" placeholder="Name">
                </div>
                <div id="div-register-email" class="form-group" style="margin-bottom: 0px;">
                  <input type="email" class="form-control" style="padding: 5px;height: 25px;font-size: 12px;" id="email" placeholder="Enter email">
                </div>
                <div id="div-register-label" style="padding-top: 10px;margin-bottom: 10px;">
                  <label id="validator-label" style="font-size:12px; margin: 0px; color: #7DC068; display: none;"></label>
                </div>
                <div id="div-register-controls" style="width: 100%;">
                  <div>
                    <button id="submit-register" type="button" class="btn btn-primary btn-sm">Register</button>
                    <button id="cancel-register" type="button" class="btn btn-default btn-sm">Cancel</button>
                  </div>
                </div>
              </div>
            <% } %>
          <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
<script>
  $(document).ready(function(){
    $("#cancel-register").click(function(){
        $("#body").fadeOut(500, function(){
          $("#body").load('../home/index');
        }).fadeIn(1000);
    });
    
    $("#submit-register").click(function(){
        var name = $("#name").val();
        var email = $("#email").val();
        if(name.length === 0 && email.length === 0){
          $("#validator-label").fadeOut(500, function(){
            $(this).text('Please provide your name and email.');
          }).fadeIn(500);
        }else{
          socket.get('/kitops/do_register', {
            name: name,
            email: email
          }, function(response) {
              if(response.success == 'failed'){
                $("#validator-label").fadeOut(500, function(){
                  $(this).css({'color':'#E16138'});
                  $(this).text('Kit Registration Failed');
                }).fadeIn(500);
              }
              if(response.success == 'success'){
                var benefits_height = $("#benefits").height();
                $(".div-register").fadeOut(500, function(){
                  $("#div-register-name").remove();
                  $("#div-register-email").remove();
                  $("#div-register-label").remove();
                  $("#div-register-controls").remove();
                  $(this).css({'background-color':'#7DC068', color:'white', height: ''+benefits_height+'px', 'border-radius': '5px'});
                  $("#div-register-title").css({'text-align':'center', 'line-height': ''+benefits_height+'px'});
                  $("#div-register-title").text('Registered');
                }).fadeIn(1000);
              }
          });
        }
    });
  });
</script>