.div-outline {
  border: 0px;
}
.div-outline:hover {
  outline: 1px solid white;
}

.backup-hover {
  background-color: #;
}
.backup-hover:hover {
  background-color: #1D4E6F;
}
.backup-cell{
  line-height: 34px;
  padding-left: 5px;
  padding-right: 5px;
}

.progress-bar{
  border: 1px solid #CCC;
  background-color: #929292;
  height: 34px;
  width: 95%;
}
.progress-bar .bar{
  background-color: #0096d6;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
