.general-status{
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
}
.general-status-sub{
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}
.top-more{
  float:right;
  font-family: 'Open Sans', sans-serif;
}
.doc-item {
  float: left;
  margin-top: 0;
  padding-left: 10px;
  font-family: 'Open Sans', sans-serif;
}
.doc-item a{
  font-family: 'Open Sans', sans-serif;
}
.category-header {
  padding: 8px 15px;
  margin-bottom: 10px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
}
.category-header a:hover{
  text-decoration: none;
  curspor: default;
}
.section-header{
  color: #606365;
  font-size: 1.1em;
  font-family: 'Open Sans', sans-serif;
}
.admin-info{
  color: #606365;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}
.admin-subtitle{
  margin-top: 0;
  color: #606365;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}
#bnt-reg {
  border: 0;
  outline: 0;
  color: #FBFCFC;
  background-color: #8BBB6E;
  padding: 10px;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  
  -webkit-transition: all 0.3s ease;
  /*-moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;*/
}
#bnt-reg:hover {
  background-color: #739C5A;
}
#header{
  position: relative;
  min-height: 100px;
  padding: 0px 25px 0px 25px;
  
  background-image: url('/images/header_bg.png');
  background-repeat: no-repeat;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
}
#header h5{
  margin: 0;
  padding-left: 10px;
  font-size: 1.250em;
  font-weight: 100;
  line-height: 100px;
  display: inline;
  position: relative;
}
#header h5::before{
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  content: '';
  height: 15px;
  width: 2px;
  background-color: #41a1dd;
}
@media (max-width: 412px) {
  #header h5{
    display: none;
  }
}
#menu{
  height: 40px;
}
#body{
  min-height: 700px;
}
.forj-log{
  float: left;
  background-image: url('/images/forj_logo_white.png');
  margin-top: 16.5px;
  margin-right: 20px;
  display: inline;
  height: 67px;
  width: 68px;
}
.header-logo{
  float: left;
}
.header-options{
  float: right;
  height: 100px;
}
.header-options ul{
  float: left;
  list-style: none;
  padding-top: 39.5px;
  margin: 0 !important;
}
.header-options ul li{
  float: left;
  height: 21px;
  margin-right: 10px;
}
.notifications{
  width: 21px;
  height: 21px;
  background: url('/images/notification.png');
  background-repeat: no-repeat;
  cursor: pointer;
}
.notifications .number{
  height: 20px;
  width: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: #cb0000;
  position: relative;
  top: -9px;
  left: 8px;
  font-family: "Open Sans Regular", "Open Sans Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
}
.help{
  width: 21px;
  height: 21px;
  color: #41a1dd;
  background-color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  border-radius: 14px;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
}
.gravatar{
  cursor: pointer;
  background-position: center;
  width: 50px;
  height: 50px;
  margin-top: 25px;
  border-radius: 50%;
  float: right;
}
.guest{
  background-image: url('/images/guest.png');
}
.right-menu{
  border-left: 1px solid #CCCCCC;
}
.right-menu h4{
  font-size: 1.750em;
  color: #555555;
  font-family: 'Open Sans', sans-serif;
}
.tool-ops{
  overflow: hidden;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  line-height: 36px;
  font-size: 12px;
}
.tool-ops div{
  height: 27.5px;
  margin-bottom: 5px;
  line-height: 27.5px;
  font-size: 11px;
}
.ops{
  cursor:pointer;
  padding-left: 21px;
  text-align: left;
  background: url('/images/status-white-sprite.png') no-repeat top left;
}
.ops-home{
  background-color: #1D4E6F;
}
.ops-home a{
  color: #FFFFFF;
  text-decoration: none;
}
.ops-workload{
  margin-bottom: 0 !important;
}
.ops-backup{
  
}
.ops-admin{
  background-color: #1D4E6F !important;
  background: url('/images/gear.png');
  background-repeat: no-repeat;
  background-position: 5px 50% !important;
  text-align: left;
  padding-left: 22px;
}
.ops-admin-na{
  background-color: #797979 !important;
  background: url('/images/gear.png');
  background-repeat: no-repeat;
  background-position: 5px 50% !important;
  text-align: left;
  padding-left: 22px;
}
.ops-admin a{
  color: #FFFFFF;
  text-decoration: none;
}
.ops-offline{
  background-color: #797979 !important;
  background-position: 5px 6px;
}
.ops-ok{
  background-color: #47CC3A;
  background-position: 5px -26px;
}
.ops-warning{
  background-color: #F09101;
  background-position: 5px -57px;
}
.ops-critical{
  background-color: #D6332C;
}

.text-ok{
  color: #47CC3A;
}
.text-error{
  color: #D6332C;
}
/*------NAV-------*/
  
#navcontainer
{
  margin-left: 15px;
  margin-right: 15px;
  height: 100%;
  border-bottom: 1px solid #CCC;
}

#navcontainer ul
{
  list-style-type: none;
  text-align: center;
  margin: auto;
  padding: 0;
  height: 100%;
}
#navlist:after {
  clear: both;
}

#navcontainer li
{
  height: 100%;
  display: inline-block;
  margin-right: 20px;
  font-family: 'Open Sans', sans-serif;
}
#navcontainer li:hover{
  border-bottom: 3px solid #0096d6;
}
#navcontainer li.active{
  border-bottom: 3px solid #0096d6;
}
#navcontainer li a
{
  color: #666;
  background-color: #fff;
  text-decoration: none;
  vertical-align: middle;
  line-height: 37px;
  font-weight: 100;
}
.stats-text{
  float: left;
  line-height: 75px;
  padding-left: 15px;
  font-family: 'Open Sans', sans-serif;
}
.monitoring-option{
  width: 220px;
  cursor: pointer;
  display: inline-block;
  padding-left: 55px;
  color: #767676;
  font-size: 1.125em;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}
.monitoring-contents{
  margin: 0;
  padding-top: 10px;
}
.arrow-down{
  background: url('/images/arrow-sprite.png') 99% 0px;
  background-repeat: no-repeat;
}
.arrow-up{
  background: url('/images/arrow-sprite.png') 99% -28px;
  background-repeat: no-repeat;
}
.trial{
  color: black;
  margin-bottom: 0;
  font-size: 1.125em;
  font-family: 'Open Sans', sans-serif;
}
.rellocate-span{
  display: block;
  font-size: 0.875em;
  margin-bottom: 10px;
}
.status-monitoring{
  height: 34px;
  width: 34px;
  position: absolute;
  margin: auto;
  left: 15px;
  top: 0;
  bottom: 0;
}
.error-icon{
  background: url('/images/status-sprite.png');
  background-position: 0 -39px;
  background-repeat: no-repeat;
}
.check-icon{
  background: url('/images/status-sprite.png');
  background-position: 0 0px;
  background-repeat: no-repeat;
}
.trial-icon{
  height: 34px;
  width: 34px;
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  background: url('/images/status-sprite.png');
  background-position: 0 -78px;
  background-repeat: no-repeat;
}
.tool-desc-name{
  float: left;
  margin-top: -25px;
  margin-left: 10px;
  color: white;
  position: relative;
  width: auto !important;
  z-index: 100;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.service-details{
  font-size: 17px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}
.service-name{
  font-size: 23px;
  letter-spacing: 0.1px;
  font-family: 'Open Sans', sans-serif;
}
.user-options{
  cursor: default;
  height: 145px;
  width: 300px;
  position: absolute;
  top: 100px;
  right: 0;
  background-color: #123146;
  z-index: 999;
  display: none;
}
.user-options #viewport{
  height: 100%;
  width: 100%;
  padding: 20px;
  position: relative;
}
.user-options #viewport:before{
  top: auto;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #123146;
  border-width: 15px;
  right: 35px;
  margin: -50px 0 0 0;
}
.user-options-title{
  margin: 0;
  font-size: 21px;
  font-family: 'Open Sans', sans-serif;
}

.help-docs{
  cursor: default;
  height: 440px;
  width: 340px;
  position: absolute;
  top: 100px;
  right: 0;
  background-color: #123146;
  z-index: 999;
  display: none;
}

@media (max-width: 350px) {
  .help-docs{
    width: 305px !important;
  }
}

.help-docs #viewport{
  height: 100%;
  width: 100%;
  padding: 20px;
  position: relative;
}
.help-docs #viewport:before{
  top: auto;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #123146;
  border-width: 15px;
  right: 80px;
  margin: -50px 0 0 0;
}
.notifications-show{
  cursor: default;
  height: 440px;
  width: 340px;
  position: absolute;
  top: 100px;
  right: 0;
  background-color: #123146;
  z-index: 999;
}
.notifications-show #viewport{
    height: 100%;
  width: 100%;
  padding: 20px;
  position: relative;
}
.notifications-show #viewport:before{
  top: auto;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #123146;
  border-width: 15px;
  right: 110px;
  margin: -50px 0 0 0;
}
.help-title{
  color:white;
  font-size: 24px;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
}
.register-bar{
  border: 1px solid #CCC;
  background-color: #929292;
  height: 30px;
  width: 85%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 5px;
}
.register-bar .bar{
  background-color: #0096d6;
  height: 100%;
  
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.loading-span{
  color: #FFF;
  height: 20px;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}
.help-h3{
  font-size: 17px;
  font-weight: 600;
  color: #FFF;
}
.sign-in{
  color: #FFF;
  text-decoration: none;
  padding: 7px;
  font-size: 13px;
  background-color: #1d4e70;
  position: absolute;
  bottom: 25px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sign-in:hover{
  color: #FFF;
  text-decoration: none;
  background-color: #093C5F;
}
.sign-out{
  color: #FFF;
  text-decoration: none;
  padding: 7px;
  font-size: 13px;
  background-color: #1d4e70;
  position: absolute;
  left: 20px;
  bottom: 25px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sign-out:hover{
  color: #FFF;
  text-decoration: none;
  background-color: #093C5F;
}
.auth-form{
  height: 30px;
  margin-bottom: 3px;
  
  font-family: "Open Sans Regular", "Open Sans Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
}
.auth-form label{
  width: 80px;
  text-align: left;
  font-weight: 700;
  
}
.auth-form input{
  height: 90%;
  border: 0;
  outline: 0;
  border-radius: 3px;
  color: #797979;
  padding-left: 5px;
}
